/* SKIN */
.adsm-skin .top-banner-container {
  max-width: 1000px;
  margin: 0 auto;
}
.adsm-skin #page {
  margin-top: 0;
  margin-top: 0;
}

.adsm-skin footer {
  overflow: hidden;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
