/* SKIN */
.adsm-skin #bot-wrap {
  background-attachment: scroll !important;
}

.adsm-skin.adsm-skin-fixed #bot-wrap {
  background-position: center 50px !important;
  background-attachment: fixed !important;
}

.adsm-skin .adsm-wallpaper {
  position: absolute !important;
  top: 202px !important;
}

.adsm-skin.adsm-skin-fixed .adsm-wallpaper {
  position: fixed !important;
  top: 50px !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

.adsm-skin #header-wrapper {
  background-color: #fff;
}

.adsm-skin #nav-wrapper {
  margin-bottom: 0;
}

.adsm-skin #leader-wrapper {
  margin-bottom: 0;
}

.adsm-skin #bot-wrap {
  margin-top: 0 !important;
}

.adsm-skin.adsm-skin-fixed #bot-wrap {
  margin-top: 50px !important;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
