/* SKIN */
.adsm-skin body {
  background-attachment: scroll !important;
}

.adsm-skin body > header {
  max-width: 980px;
  margin: 0 auto;
}

.adsm-skin .adsm-wallpaper {
  position: absolute !important;
  max-height: 1000px;
}

.adsm-skin .adsm-wallpaper-video {
  max-height: 1000px;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
