.adsm-skin body {
  background-position: center 45px;
}

.adsm-skin .adsm-wallpaper {
  top: 45px !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

.adsm-skin body.layout-boxed {
  max-width: 100%;
}

.adsm-skin #cncpt-lb1 {
  margin-top: 45px;
}

.adsm-skin body > .parent {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
