/* SKIN */
.adsm-skin body > div.text-center {
  max-width: 972px;
  margin: 0 auto;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
