/* SKIN */
.adsm-skin #ad-leaderboard {
  max-width: 980px;
  margin: 0 auto;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
