/* SKIN */
.adsm-skin #amLargeLeaderboard {
  max-width: 930px;
}

.adsm-skin #amLargeLeaderboard iframe {
  display: block;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
