/* SKIN */
.adsm-skin body.i7normal .adsm-wallpaper {
  position: absolute !important;
  top: 800px !important;
}

.adsm-skin body.i7fixedlow .adsm-wallpaper {
  position: absolute !important;
  top: -100% !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
