/* SKIN */
.adsm-skin #site::after {
  display:block;
  content:" ";
  clear:both;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
