/* SKIN */
.adsm-skin body {
  background-position:center 40px !important;
  background-attachment: scroll !important
}

.adsm-skin.adsm-skin-fixed body {
  background-position: center top !important;
  background-attachment: fixed !important
}

.adsm-skin .adsm-wallpaper {
  position: absolute !important;
  top: 40px !important
}

.adsm-skin.adsm-skin-fixed .adsm-wallpaper {
  position: fixed !important;
  top: 0 !important
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important
}

.adsm-skin #main {
  width: 950px;
  margin: 0 auto
}

.adsm-skin #content.with_wallpaper > .side_navigationed.with_sheet {
  top: 0
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
