.adsm-skin #Wallpaper {
  display: block !important;
  height: 1440px;
  background-attachment: scroll !important;
}

.adsm-skin #Wallpaper > div {
  pointer-events: none;
}

.adsm-skin .adsm-wallpaper {
  position: absolute !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
