/* SKIN */
.adsm-skin .adsm-wallpaper {
  position: absolute !important;
  top: 275px !important;
}

.adsm-skin.adsm-skin-fixed .adsm-wallpaper {
  position: fixed !important;
  top: 48px !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
