/* SKIN */
.adsm-skin #mb-moovy-lb1 {
  max-width: 1000px;
  margin: 0 auto;
}
.adsm-skin #mb-moovy-lb6 {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
  background-image: linear-gradient(90deg,#000000, #595959, #595959, #000000);
}

.adsm-skin ul.footerMenu {
  margin-top: 0;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
