/* SKIN */
.adsm-skin #banner:first-child {
  padding-top: 0;
}

.adsm-skin #ni-header {
  margin-top: 0;
}

.adsm-skin #ni-header.expand-margin {
  margin-top: 180px !important;
}

.adsm-skin div[data-spklw-widget] {
  background-color: #fff;
}

.adsm-skin div[data-spklw-widget] .spklw-widget {
  margin-bottom: 0;
  padding-bottom: 30px;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
