/* SKIN */
.adsm-skin #content {
  background-position: center 50px !important;
  transition: background-position-y .25s;
}

.adsm-skin.adsm-skin-fixed #content {
  background-position: center top !important;
}

.adsm-skin #cncpt-lb1 {
  max-width: 1000px;
  margin: 0 auto;
}

.adsm-skin .main-content {
  margin-top: 0;
  padding-top: 60px;
}

.adsm-skin #cncpt-lb3 {
  width: auto;
  margin: 0 -15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.adsm-skin .footer {
  margin-top: 0;
  padding-top: 30px;
  background-color: #efefef;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
