/* SKIN */
.adsm-skin body .site-container {
  margin-top: 0;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
