/* SKIN */
.adsm-skin #page {
  background-position: center 221px !important;
  background-attachment: scroll !important;
}

.adsm-skin.adsm-skin-fixed #page {
  background-position: center top !important;
  background-attachment: fixed !important;
}

.adsm-skin .adsm-wallpaper {
  position: absolute !important;
  top: 221px !important;
}

.adsm-skin.adsm-skin-fixed .adsm-wallpaper {
  position: fixed !important;
  top: 0 !important;
}

.adsm-skin .adsm-wallpaper-creative {
  position: absolute !important;
}

.adsm-skin #content {
  max-width: 1000px;
  margin: 0 auto;
}

.adsm-skin .featured {
  margin-top: 0;
}

.adsm-skin #footerad {
  background-color: #e0e5e9;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
