.adsm-skin .masterc {
  max-width: 955px;
}

.adsm-skin .masterc > table{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
