.adsm-skin .happy-place.happy-place--top {
  margin-bottom: 0;
}

.adsm-skin .happy-place.happy-place--top::before {
  display: none;
}

#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
