/* SKIN */
#mh-mobile .container {
  margin-top: 0;
}

.adsm-skin .header-widget {
  margin-top: 0;
}

.adsm-skin .header-widget > .sb-widget{
  margin-bottom: 0;
}

.adsm-skin .header-widget > .sb-widget .ad-sb {
  padding: 0;
  background-color: transparent;
}

.adsm-skin .header-widget > .sb-widget .ad-sb .ad-item {
  float: none;
  margin: 0;
}

.adsm-skin .copyright-wrap {
  padding-bottom: 20px;
  margin-bottom: 0;
  background-color: #f7f7f7;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
