/* SKIN */
.adsm-skin header.hide-print {
  background: transparent url('/img/bg/WoodJagged_bg.png') repeat-x top left !important;
}

.adsm-skin #aspForm {
  max-width: 960px;
  margin: 0 auto;
}

.adsm-skin .container > .wrapper {
  padding-bottom: 0;
}

/* MATHTAG */
img[src^="//match.adsrvr.org"] {
  display: none;
}

/* ADFORM */
#adform-wallpaper-left, #adform-wallpaper-right {
  display: none;
}
